@value textColor, blue, gray from "../utils/variables.css";

.editPage {
  /*margin-top: 3em;*/
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  background: rgb(238, 238, 238);
  color: textColor;
  overflow: hidden;
}

.editNav {
  background: #fff;
  width: 124px;
  border: 1px solid rgba(255, 255, 255, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24);
  height: auto;
  padding: 6px 0;
}

.editNavItem {
  display: block;
  padding-left: 10px;
  box-sizing: border-box;
}

.editNavItem:hover {
  color: blue;
}

.editNavItem--selected {
  background-color: gray;
}

.editNav p {
  height: 38px;
  line-height: 38px;
  text-align: left;
  cursor: pointer;
}

.editContent {
  background: #fff;
  width: 490px;
  max-height: 388px;
  overflow: hidden;
  padding: 10px 30px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24);
}
