@value textColor, blue, gray from "../utils/variables.css";

.list {
  width: 100%;
  height: calc(100% - 70px);
  position: absolute;
  left: 0;
  top: 70px;
  overflow: auto;
  color: textColor;
}

.list-item {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 6px 15px;
  cursor: pointer;
}

.list-item:hover {
  color: blue;
}

.item--active {
  background: gray;
}

.time {
  font-size: 10px;
  margin-top: 2px;
}
