@value blue from "../utils/variables.css";

.wrapper {
  text-align: left;
  position: relative;
  /*margin: 20px 0;*/
  margin-bottom: 22px;
}

.checkBox-wrapper {
  max-height: 320px;
  overflow: auto;
}

.checkBox-wrapper::-webkit-scrollbar {
  display: none;
}


.confirm-button {
  width: 93px;
  height: 36px;
  margin: 0 auto;
  font-size: 14px;
}

.confirm-button:hover {
  opacity: 1;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  font-size: 12px;
}

.item-content {
  width: 170px;
  height: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 14px;
  margin-bottom: 12px;
}

.item-content input {
  width: 24px;
  height: 24px;
}

.update-button {
  position: absolute;
  right: 0;
  bottom: 2px;
  font-size: 12px;
  cursor: pointer;
  opacity: .7;
}

.update-button:hover {
  color: blue;
  opacity: 1;
}
